
html:-moz-full-screen{
	height: 100%;
  margin:0;
  display: flex;
  flex-direction: column;
}

 .hidden{
    display: none;
 }
 .show{
    display: block;
 }

/*--------------------------------------estos es el css del div panelRegisterLogin y todo lo que hay dentro*/
 /*Buttons*/
 .buttonIMG210x50{
 	background:none;
 	outline:none;
 	border: none;
 	width: 210px;
 	height: 50px;
 }

 .buttonIMG91x15{
 	background:none;
 	outline:none;
 	border: none;
 	width: 91px;
 	height: 15px;
 }

 /*p*/
 /*class*/
 .pbeneficios{
 	color: white;
 	text-decoration: underline;
 }


 /*a*/
 /*class*/
 .abeneficios{
 	color: white;
 }

/*div*/
/*por id*/
#panelRegisterLogin{
   background: url(../img/app/inicio-app/fondo-inicio-360x640px.png) no-repeat fixed center;
   height: 100%;
   width: 100% ;
   margin: 0px;
   background-size: 100%;
   text-align: center;
}
#logo{
	position: relative;
	top: -1px;
	background-image: url(../img/app/inicio-app/cabezote-inicio-360x260px.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 360px;
	margin: 0px;
	text-align: center;
	padding-top: 50px;
}
/*por class*/
.buttonInicio{
	width: 100%;
	height: 70px;
	text-align: center;
}
.divInitNotRegisteredRL{
    margin-top: 54px;
    text-align: right;
    padding-right: 37px;
}
/*---------------fin panelregisterlogin*/

/*--------------------------------------estos es el css del div login y todo lo que hay dentro*/
 /*Buttons*/
 .loginBTN{
 	background:none;
 	outline:none;
 	border: none;
 	width: 210px;
 	height: 50px;
 }
.restartPass{
	background:none;
 	outline:none;
 	border: none;
 	width: 150px;
 	height: 10px;
}

#returnL{
	background:none;
 	outline:none;
 	border: none;
 	width: 50px;
 	height: 20px;
}
 /*div*/

#login{
	background: url(../img/app/inicio-app/fondo-inicio-360x640px.png) no-repeat fixed center;
   height: 100%;
   width: 100% ;
	background-size: 100%;
   text-align: center;
}

.divReturnL{
	margin-top: 20px;
    text-align: center;
}

.divLoginItem{
	height:70px; 
}
/*por class*/
.buttonInicio{
	width: 100%;
	height: 70px;
	text-align: center;
}
.divInitNotRegisteredRL{
    margin-top: 54px;
    text-align: right;
    padding-right: 37px;
}

/*inptu*/
.inputForm{
	height: 40px;
	width: 250px;
	background-color: rgb(234, 233, 233,0.61);
	border: none;
 	outline:none;
	border-radius: 6px;
}

.inputFormFail{
    border: solid red 1px;
}
/*---------------fin login*/

/*--------------------------------------estos es el css del div register y todo lo que hay dentro*/
 /*Buttons*/
 #makeRegister{
 	background:none;
 	outline:none;
 	border: none;
 	width: 210px;
 	height: 50px;
 }
#showB{
	background:none;
 	outline:none;
 	border: none;
 	width: 117px;
 	height: 10px;
}

#initNotRegisteredR{
	background:none;
 	outline:none;
 	border: none;
 	width: 91px;
 	height: 15px;
}
 /*div*/
#cancelRegister{
	background:none;
 	outline:none;
 	border: none;
 	width: 210px;
 	height: 50px;
}
#register{
   background: url(../img/app/inicio-app/fondo-inicio-360x640px.png) no-repeat fixed center;
   height: 100%;
   width: 100% ;
   margin: 0px;
   background-size: 100%;
   text-align: center;
}

.logoRegister{
	background-image: url(../img/app/registro/cabezote-registro-360x110px.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 115px;
	margin: 0px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}

.divRegisterItem{
	height: 50px;
}

.divFootRegister{
	margin-top: 40px;
}


/*---------------fin registe*/

/*--------------------------------------estos es el css del div Home y todo lo que hay dentro*/
 /*Buttons*/
 /*-------------------------estos botones son generales para las vistas de home reservas y mensajes  */
.btnOption{
 	background:none;
 	outline:none;
 	border: none;
 	margin-top: 5%;
 	margin-left: 3%;
 	margin-right: 3%;
 	width: 45px;
 	height: 45px;
 }

#btnHomeOpNet{
	background:none;
 	outline:none;
 	border: none;
 	width: 35px;
 	height: 20px;
 	margin-left: 10%;
}
#btnHomeProfile{
	background:none;
 	outline:none;
 	border: none;
 	width: 40px;
 	height: 35px;
 	margin-right: 10%;
}
/*-------------------------------------fin botones genreales*/

.btnFacilities{
	background:none;
 	outline:none;
 	border: none;
 	width: 130px;
 	height: 26px;
}
 /*div*/

#home{
   background: url(../img/app/inicio-app/fondo-inicio-360x640px.png) no-repeat fixed center;
   height: 100%;
   width: 100% ;
   margin: 0px;
   background-size: 100%;
   text-align: center;
}

.titleHome{
	margin-bottom: 10px;
	border: none;
}
.logoHome{
	position: relative;
	top: -1px;
	background-image: url(../img/app/registro/cabezote-registro-360x110px.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 115px;
	margin: 0px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}

#homeFooter{
	background-image: url(../img/app/home-app/pie2-de-pagina-home-360x100px.png);
	position:absolute;
	left: 0px;
	right: 0px;                  
    bottom:0px;  
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 115px;
	text-align: center;
	padding-top: 20px;
}
.homeBody{
	height: 333px;
	overflow-y: scroll;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.card {
    flex: 0 0 auto;
    background:none;
	margin-left:5px;
	background-color: rgba(0,0,0,0) !important;
	border: 0px !important;
    height: 160px;
    width: 285px;
}

#textHome{
	background-image: url(../img/app/home-app/fondo-texto-home-325x90px.png);
	background-repeat: no-repeat;
	width: 325px;
	height: 90px;
	margin-top: 10px;
	margin-bottom: 10px;
	 hyphens: auto;
}

#optionHome{}
/*img*/
.imgHome{
	height: 160px;
    width: 285px;
    object-fit:cover;
}
/*---------------fin home*/

/*--------------------------------------estos es el css del div reserve y todo lo que hay dentro*/
 /*Buttons*/

 /*div*/

#reserve{
   background: url(../img/app/inicio-app/fondo-inicio-360x640px.png) no-repeat fixed center;
   height: 100%;
   width: 100% ;
   margin: 0px;
   background-size: 100%;
   text-align: center;
}

/*---------------fin reserve*/
