
html{
/*	height: 100%;
  margin:0;
  display: flex;
  flex-direction: column;*/
  height: 100%;
  overflow: hidden;
}

body{
	width: 100%;
	position: fixed; 
	overflow: hidden;
	font-family: sans-serif;

}

label{
	/*font-family: sans-serif;*/
	color: white;
}

 .hidden{
    display: none;
 }
 .show{
    display: block;
 }


/*-------------------div carga*/

#loadingDiv{
	background-color: white;
	height: 100%;
   	width: 100%;
   align-items: center;
   z-index: 1;
}

#imgLogo{
	display:block;
	margin:auto;
	margin-top: 50%;
}

/*--------------------------------------estos es el css del div panelRegisterLogin y todo lo que hay dentro*/
 /*Buttons*/
 .buttonIMG210x50{
 	background:none;
 	outline:none;
 	border: none;
 	width: 210px;
 	height: 50px;
 }

 .buttonIMG91x15{
 	background:none;
 	outline:none;
 	border: none;
 	width: 91px;
 	height: 15px;
 }

 /*p*/
 /*class*/
 .pbeneficios{
 	color: white;
 	text-decoration: underline;
 }


 /*a*/
 /*class*/
 .abeneficios{
 	color: white;
 }

/*div*/
/*por id*/
#panelRegisterLogin{
   background: url(../img/app/inicio-app/fondo-inicio-360x640px.png) no-repeat fixed center;
   height: 100%;
   width: 100% ;
   margin: 0px;
   background-size: 100%;
   text-align: center;
}
#logo{
	position: relative;
	top: -1px;
	background-image: url(../img/app/inicio-app/cabezote-inicio-360x260px.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 51%;
	margin: 0px;
	text-align: center;
	padding-top: 50px;
}
/*por class*/
.buttonInicio{
	width: 100%;
	height: 70px;
	text-align: center;
}
.divInitNotRegisteredRL{
    margin-top: 54px;
    text-align: right;
    padding-right: 37px;
}
/*---------------fin panelregisterlogin*/

/*--------------------------------------estos es el css del div login y todo lo que hay dentro*/
 /*Buttons*/
 .loginBTN{
 	background:none;
 	outline:none;
 	border: none;
 	width: 210px;
 	height: 50px;
 }
.restartPass{
	background:none;
 	outline:none;
 	border: none;
 	width: 150px;
 	height: 10px;
}

#returnL{
	background:none;
 	outline:none;
 	border: none;
 	width: 50px;
 	height: 20px;
}
 /*div*/

#login{
	background: url(../img/app/inicio-app/fondo-inicio-360x640px.png) no-repeat fixed center;
   height: 100%;
   width: 100% ;
	background-size: 100%;
   text-align: center;
}

.divReturnL{
	margin-top: 20px;
    text-align: center;
}

.divLoginItem{
	height:70px; 
}
/*por class*/
.buttonInicio{
	width: 100%;
	height: 70px;
	text-align: center;
}
.divInitNotRegisteredRL{
    margin-top: 54px;
    text-align: right;
    padding-right: 37px;
}

/*inptu*/
.inputForm{
	height: 40px;
	width: 250px;
	background-color: rgb(234, 233, 233,0.61);
	border: none;
 	outline:none;
	border-radius: 6px;
}

.inputFormFail{
    border: solid red 1px;
}
/*---------------fin login*/

/*--------------------------------------estos es el css del div register y todo lo que hay dentro*/
 /*Buttons*/
 #makeRegister{
 	background:none;
 	outline:none;
 	border: none;
 	width: 210px;
 	height: 50px;
 }
#showB{
	background:none;
 	outline:none;
 	border: none;
 	width: 117px;
 	height: 10px;
}

#initNotRegisteredR{
	background:none;
 	outline:none;
 	border: none;
 	width: 91px;
 	height: 15px;
}
 /*div*/
#cancelRegister{
	background:none;
 	outline:none;
 	border: none;
 	width: 210px;
 	height: 50px;
}
#register{
   background: url(../img/app/inicio-app/fondo-inicio-360x640px.png) no-repeat fixed center;
   height: 100%;
   width: 100% ;
   margin: 0px;
   background-size: 100%;
   text-align: center;
}

.logoRegister{
	background-image: url(../img/app/registro/cabezote-registro-360x110px.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 115px;
	margin: 0px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 20px;
}

.divRegisterItem{
	height: 50px;
}

.divFootRegister{
	margin-top: 40px;
}


/*---------------fin registe*/

/*--------------------------------------estos es el css del div Home y todo lo que hay dentro*/
 /*Buttons*/
 /*-------------------------estos botones son generales para las vistas de home reservas y mensajes  */
.btnOption{
 	background:none;
 	outline:none;
 	border: none;
 	margin-top: 5%;
 	margin-left: 3%;
 	margin-right: 3%;
 	width: 45px;
 	height: 45px;
 }

#btnHomeOpNet{
	background:none;
 	outline:none;
 	border: none;
 	width: 35px;
 	height: 20px;
 	margin-left: 10%;
}
#btnHomeProfile{
	background:none;
 	outline:none;
 	border: none;
 	width: 40px;
 	height: 35px;
 	margin-right: 10%;
}
/*-------------------------------------fin botones genreales*/

.btnFacilities{
	background:none;
 	outline:none;
 	border: none;
 	width: 130px;
 	height: 26px;
}
 /*div*/

#home{
   background: url(../img/app/inicio-app/fondo-inicio-360x640px.png) no-repeat fixed center;
   height: 100%;
   width: 100% ;
   margin: 0px;
   background-size: 100%;
   text-align: center;
}

.titleHome{
	margin-bottom: 10px;
	border: none;
}
.logoHome{
	position: relative;
	top: -1px;
	background-image: url(../img/app/registro/cabezote-registro-360x110px.png);
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 115px;
	margin: 0px;
	text-align: center;
	padding-top: 20px;
	margin-bottom: 5px;
}

#btnFooter{
	
}
#homeFooter{
	background-image: url(../img/app/home-app/pie2-de-pagina-home-360x100px.png);
	position:absolute;
	left: 0px;
	right: 0px;                  
    bottom:0px;  
	background-size: 100%;
	background-repeat: no-repeat;
	width: 100%;
	height: 14%;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 25px;
}
.homeBody{
	height: 60%;
    overflow-y: scroll;
    position: absolute;
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.card {
    flex: 0 0 auto;
    background:none;
	margin-left:5px;
	background-color: rgba(0,0,0,0) !important;
	border: 0px !important;
    height: 160px;
    width: 285px;
}

#textHome{
	background-image: url(../img/app/home-app/fondo-texto-home-325x90px.png);
    background-repeat: no-repeat;
    width: 325px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 11px;
    line-height: 100%;
    color: #114f7c;
    font-size: 15px;
}

#optionHome{}
/*img*/
.imgHome{
	height: 160px;
    width: 285px;
    object-fit:cover;
}

/*ourFacilities*/

.ourFacilities{
	padding: 8px;
}
/*---------------fin home*/

/*--------------------------------------estos es el css del div reserve y todo lo que hay dentro*/
 /*Buttons*/

 /*div*/
input[type=date]{
	background:#114675;
	color:white;
	border:none;
	border-radius:14px;
}
select{
	color:white;
	outline:none;
	background:#114675;
	border:none;
	border-radius:5px;
}

/*input*/


/*---------------fin reserve*/
/*----------------reserve resumen*/
#resumeBody{
	width:100%;
	height:65%;
}

#tableResumen{
	margin: 10px 20px 10px 20px;
	font-size: 15px;
}

input[type=checkbox]{
 	background:white;
 	width:20px;
 	height:20px;
 }
/*-----------------fin reserve resumen*/

/*--------------------------------------estos es el css del div de modal Profile y todo lo que hay dentro*/
#modalProfile{
	background: url(../img/app/menu-informacion/fondo-360x520px.png) no-repeat fixed;
   height: 100%;
   width: 100% ;
   margin: 0px;
   margin-top: 0px;
   top: 0px;
   background-size: 100%;
   text-align: center;
}

#imgProfile{
	height: 151px;
    width: 122px;
    border-radius: 10px;
    margin: auto;
    border: solid 1px blue;
}

/*table*/
.tableProfileEdit{
	margin-left: 10px;
	margin-bottom: 20px;
	margin-top: 10px;
}

/*input*/
.inputEditProfile{
	width: 146px;
	border: none;
	outline:none;
}

/*---------------fin modalProfile*/

/*--------------------------------------estos es el css del div de modal option y todo lo que hay dentro*/
#modalOption{
	background: url(../img/app/menu-opciones/fondo-360x520px.png) no-repeat;
	height: 100%;
   width: 100% ;
   margin: 0px;
   margin-top: 0px;
   top: 0px;
   background-size: 100%;
   text-align: center;
}

#divModalIdentification{
	margin-top: 20px;
}

.optionBodyModal{
    width: 231px;
    height: 350px;
    margin-left: 20%;
}

.titleOptionModal{
	background: url("../img/app/menu-opciones/titulo-165x30px.png") no-repeat;
	width: 165px;
	height: 30px;
	background-size: 100%;
	margin-bottom: 15px;
	float: right;
	padding-top: 3px;
}

/*button*/
#btnFacebook{
	background:none;
 	outline:none;
 	border: none;
 	width: 205px;
 	height: 35px;
 	margin-bottom: 5px;
}

#btnInstagram{
	background:none;
 	outline:none;
 	border: none;
 	width: 205px;
 	height: 35px;
 	margin-bottom: 5px;

    
}
#btnCompras{
	background:none;
 	outline:none;
 	border: none;
 	width: 205px;
 	height: 35px;
 	margin-bottom: 5px;

}

#btnModalOptionExit{
	background:none;
 	outline:none;
 	border: none;
 	width: 20px;
 	height: 20px;
 	position: absolute;
 	left: 20px;
}

/*label*/
#titleOptionModalLabel{
	font-family: sans-serif;
	color: white;
}
/*---------------fin modalOption*/



/*----------------modal mesage*/

#messageBodyModal{

}
#modalMessage{
	background: url(../img/app/menu-opciones/fondo-360x520px.png) no-repeat;
	height: 100%;
   width: 100% ;
   margin: 0px;
   margin-top: 0px;
   top: 0px;
   background-size: 100%;
   text-align: center;
}

#submitMessage{
	background-color: #117abf;
    border: none;
    border-radius: 5px;
    width: 107px;
    margin-top: 10px;
}
#messageSubjet{
	border: none;
    background: rgb(224, 224, 224);
    border-radius: 6px;
    width: 215px;
    margin-bottom: 10px;
}

#message{
	border: none;
    background: rgb(224, 224, 224);
    border-radius: 6px;
    width: 215px;
    height: 163px;
}

#btnMessageModal{
	margin-left: 46%;
    color: rgb(17, 122, 191);
    font-size: 27px;
    height: 39px;
    width: 39px;
    border-radius: 29px;
    border: none;
    background: rgb(245, 240, 240);
}
/*---------------fin modal message*/
.divMessage{
	background: url(../img/app/inicio-app/fondo-inicio-360x640px.png);
	background-size: 100%;
	width: 100%;
	padding: 10px 20px 10px 20px;
	margin-top: 0px;
	color: #EBEBEA;

}
.scrollingMessage{
	height: 70%;
	width: 100%;
    overflow-y: scroll;
    position: absolute;
}

#headMessageList{
	font-size: 11px;
	margin-bottom: 4px;
}
#subjectMesageList{
	/*]font: oblique bold 120% cursive;*/
	font-size: 15px;
	text-align: left;
}
#messageList{
	font: condensed;
	font-size: 13px;
	text-align: left;
	line-height : 100%;
}

#headMessageInfoStatus{
	height: 20px;
    width: 82px;
    background: rgba(109, 107, 107, 0.62);
    border-radius: 6px;
    margin-left: 74%;
}

#headMessageInfoDate{
	float: left;
}

/*viewReservas*/
.scrollingReservesList{
	height: 70%;
	width: 100%;
    overflow-y: scroll;
    position: absolute;
}
.divReserves{
	background: url(../img/app/inicio-app/fondo-inicio-360x640px.png);
	background-size: 100%;
	width: 100%;
	padding: 10px 20px 10px 20px;
	margin-top: 0px;
	color: #EBEBEA;
}

#headReserves{
	font-size: 11px;
	margin-bottom: 4px;
}
#titleReserve{
	font-size: 15px;
	text-align: left;
}
#headReserveInfo{
	 float: left;
}
#headReserveEdit{
    height: 20px;
    width: 38px;
    background: rgba(109, 107, 107, 0.62);
    margin-left: 90%;
    border-radius: 6px;
}

#reserve{
	font: condensed;
	font-size: 13px;
	text-align: left;
	line-height : 100%;
	width: 100%;
}